@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class ="load-btn-container">
    <form action="/api/fileupload/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" />
        <button id="loadButton" class="load-btn" type="submit">Загрузить</button>
    </form>
</div>


